@font-face {
}
@font-face {
}

body {
    margin: 0;
    padding: 0;
}
input[type="email"]{
	padding-left:8px;
}
header{
    padding: 15px 0px;
}
.logo{
    float: left;
}
.logo img{
    max-width: 100%;
}
.main_nav{
    text-transform: uppercase;
    color: #ec2027;
    font-weight: 600;
    float: right;
}
.main_nav ul{
    padding: 0;
}
.main_nav ul li{
    display: inline-block;
    padding: 0px 15px;
    margin-top: 70px;
}
.main_nav ul li a{
    color: #ec2027;
}
.main_nav ul li a:hover{
    text-decoration: none;
    color: #575757;
}
/*BANNER*/

.banner {
    z-index: 0;
}

.banner_box {
    width: 100%;
    height: 548px;
}

.banner_box1 {
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
}

.banner_box2 {
    background: url(../images/banner_1.jpg) no-repeat center;
    background-size: cover;
}

.banner_box3 {
    background: url(../images/banner_2.jpg) no-repeat center;
    background-size: cover;
}
.banner_box4 {
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
}
.slid {}

.cap_wrap {
    text-align: left;
    margin-top: 140px;
}

.cap_block {
    display: inline-block;
    width: 100%;
    max-width: 500px;
    background-color: rgba(250, 250, 250, 0.4);
    color: #ec2027;
    padding: 25px 15px;
}


.cap_block h3 {
    font-size: 32px;
    font-weight: 700;
}

.cap_block p {
    font-size: 16px;
    color: #000;
    font-weight: 700;
}
.cap_block h6{
    float: right;
    color: #000;
    margin-right: 15px;
}

/*.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 250px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    text-shadow: none;
    width: 450px;
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-caption h3 {
    font-size: 36px;
    font-weight: 700;
}

.carousel-caption p {
    font-size: 16px;
    color: #fff;
}*/
.red_con_up{
    background: url(../images/red_con_up.png) no-repeat center; 
    height: 84px;
    width: 100%;
    position: absolute;
    margin-top: -70px;
}
.welcome_part{
    width: 100%;
   /* -webkit-clip-path: polygon(0% 60%, 50% 43%, 100% 60%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 60%, 50% 43%, 100% 60%, 100% 100%, 0% 100%); */
   /*-webkit-clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 100%, 0 100%);
    clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 100%, 0 100%);*/
     color: #fff;
    padding: 65px 0px;
    padding-top: 0;
    text-align: center;
    position: relative;
    background: #ec2027;
    /*border-bottom: 15px solid #ec2027;
    background: #ffffff url("img_tree.png") no-repeat right top;*/
}
.welcome_part .row{
    background: url(../images/row_wh.png) no-repeat center;
}
.welcome_part h3{
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    background-color: #ec2027;
    margin: 10px 0px;
    padding: 0px 5px;
}
.welcome_part p{
    padding: 15px 0px;
}
.welcome_part a{
    padding: 5px 30px;
    background: #fff;
    color: #000;
}
.welcome_part a:hover{
    text-decoration: none;
    border: 1px solid #fff;
    background: none;
    color: #fff;
}
.what_we_do_part{
    background: #ebebeb;
    position: relative;
    min-height: 700px;
}
.what_we_do_part .row_rd{
    background: url(../images/row_rd.png) no-repeat center;
    text-align: center;
    padding: 20px 0px; 
}
.what_we_do_part h3{
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    background-color: #ebebeb;
    margin: 10px 0px;
    padding: 0px 5px;
    text-transform: uppercase;
    color: #ec2027;
}
.what_we_img {
    text-align: right;
    margin-top: 50px;
}
.what_we_img img {
    max-width: 100%;
}
.what_polygons {
    position: relative;
}

.what_polygon_wrap {
    padding: 0px 45px;
    display: inline-block;
    cursor: pointer;
}
.what_polygons {
    position: relative;
    width: 90px;
    height: 154px;
    background-color: #ec2027;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.what_polygons:before {
    content: "";
    position: absolute;
    left: -45px;
    top: 0px;
    width: 0px;
    height: 0px;
    border-top: 77px solid transparent;
    border-bottom: 77px solid transparent;
    border-right: 45px solid #ec2027;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.what_polygons:after {
    content: "";
    position: absolute;
    right: -45px;
    top: 0px;
    width: 0px;
    height: 0px;
    border-top: 77px solid transparent;
    border-bottom: 77px solid transparent;
    border-left: 45px solid #ec2027;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.what_inner_polygons {
    position: absolute;
    z-index: 9999;
    width: 86px;
    height: 146px;
    top: 4px;
    left: 2px;
    color: #FFF;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.what_inner_polygons:before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0px;
    width: 0px;
    height: 0px;
    border-top: 73px solid transparent;
    border-bottom: 73px solid transparent;
    border-right: 42px solid transparent;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.what_inner_polygons:after {
    content: "";
    position: absolute;
    right: -42px;
    top: 0px;
    width: 0px;
    height: 0px;
    border-top: 73px solid transparent;
    border-bottom: 73px solid transparent;
    border-left: 42px solid transparent;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.what_polygon_wrap:hover .what_inner_polygons {
    background-color: #FFF;
    color: #ec2027;
}
.what_polygon_wrap:hover .what_inner_polygons:before {
    border-right-color: #FFF
}
.what_polygon_wrap:hover .what_inner_polygons:after {
    border-left-color: #FFF
}
.what_poly_caption {
    text-align: center;
    line-height: 1.42857143;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    z-index: 99999999;
}
.what_row {
    text-align: center;
    width: 494px;
    position: relative;
    min-height: 154px;
}
/*.what_row:before {
    display: table;
    content: "";
}
.what_row:after {
    clear: both;  
    display: table;
    content: "";
}*/
.what_pol_wrap_1 {
    float: right;
}
.what_pol_wrap_2{
    float: left;
}
.what_pol_wrap {
    position: absolute;
    width: 100%;
    z-index: 999;
    left: 0px;
    top: 0px;
    padding: 50px 0px;
    margin-top: 60px;
}
.what_pol_wrap .what_row:first-child {
    margin-bottom: -65px;
}
.what_pol_wrap .what_row:nth-child(2) {
    margin-bottom: 24px;
}
.what_pol_wrap .what_row:last-child {
    position: absolute;
    margin-top: -65px;
}
.bd_clear {
    clear: both;
}
.what_seperator1 {
    position: absolute;
    width: 25px;
    height: 60px;
    background-color: #ec2027;
    top: 0;
    left: 0;
    margin-left: 150px;
    -o-transform: rotate(57deg);
    -moz-transform: rotate(57deg);
    -webkit-transform: rotate(57deg);
    -ms-transform: rotate(57deg);
    transform: rotate(57deg);
}
.what_seperator2 {
    position: absolute;
    width: 25px;
    height: 60px;
    background-color: #ec2027;
    top: 0;
    right: 0;
    margin-right: 150px;
    -o-transform: rotate(-57deg);
    -moz-transform: rotate(-57deg);
    -webkit-transform: rotate(-57deg);
    -ms-transform: rotate(-57deg);
    transform: rotate(-57deg);
}
.what_seperator4 {
    position: absolute;
    width: 25px;
    height: 60px;
    background-color: #ec2027;
    top: 0;
    left: 0;
    margin-left: 76px;
    margin-top: -40px;
}
.what_seperator5 {
    position: absolute;
    width: 25px;
    height: 60px;
    background-color: #ec2027;
    top: 0;
    right: 0;
    margin-right: 76px;
    margin-top: -40px;
}
.what_seperator6 {
    position: absolute;
    width: 25px;
    height: 60px;
    background-color: #ec2027;
    bottom: 0;
    left: 0;
    margin-left: 150px;
    -o-transform: rotate(-57deg);
    -moz-transform: rotate(-57deg);
    -webkit-transform: rotate(-57deg);
    -ms-transform: rotate(-57deg);
    transform: rotate(-57deg);
}
.what_seperator7 {
    position: absolute;
    width: 25px;
    height: 60px;
    background-color: #ec2027;
    bottom: 0;
    right: 0;
    margin-right: 150px;
    -o-transform: rotate(57deg);
    -moz-transform: rotate(57deg);
    -webkit-transform: rotate(57deg);
    -ms-transform: rotate(57deg);
    transform: rotate(57deg);
}
.brain_club_part{
   background: url(../images/Brain_bg.jpg) no-repeat center;
    background-attachment: fixed;
    text-align: center;
    padding: 50px 0px;
    color: #fff;
}
.brain_club_part .row{
    background: url(../images/row_wh.png) no-repeat center;
}
.brain_club_part h3{
    display: inline-block;
    font-size: 32px;
    font-weight: 400;
    background-color:#fff;
    margin: 10px 0px;
    padding: 5px 10px;
    text-transform: uppercase;
    color: #000;
}
.brain_club_part p{
    padding: 15px 0px;
}
.brain_club_part a{
    padding: 5px 30px;
    color: #fff;
    border: 1px solid #fff;
}
.brain_club_part a:hover{
    text-decoration: none;
    background: #fff;
    color: #575757;
    border: none;
}
.testimonial{
    background: #ebebeb;
    padding: 35px 0px;
}
.testimonial_box{
    background: #fff;
    border: 1px solid #ec2027;
}
.testimonial_box .head{
    text-align: center;
    background: url(../images/testi_head.png) no-repeat center; 
    padding: 5px 15px;
    margin-top: -16px;
}
.testimonial_box h3{
    color: #FFF;
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
}

.testimonial_wrap{
    text-align: center;
    margin-top: 20px;
}
.test_img{
    width: 118px;
    border: 4px solid #FFF;
    border-radius: 3px;
    margin: 0 auto;
}
.test_img img{
    width: 100%;
}
p.test_text{
    color: #000;
    font-size: 14px;
    margin-bottom: 0px;
    float: left;
    width: 75%;
    padding: 15px 30px;;
    margin-top: 20px
}
.testi_det{
    color: #000;
    margin-top: 15px;
}
.testi_det h4{
    font-size: 14px;
    margin: 0px 0px 7px 0px;
}
.testi_det P{
    font-size: 12PX;
    color: #535353;
}
.testimonial_wrap .bx-wrapper .bx-pager.bx-default-pager a{
    width: 53px;
    height: 6px;
    border: 1px solid #ec2027;
    border-radius: 0px;
    background: #fff;
}
.testimonial_wrap .bx-pager{
    padding: 0;
}
.testimonial_wrap .bx-wrapper .bx-pager.bx-default-pager a:hover,
.testimonial_wrap .bx-wrapper .bx-pager.bx-default-pager a.active{
    background: #ec2027;
}
.person_box{
    float: left;
    width: 25%;
}
.testimonial_slider li{  
}
.location_part{
    padding: 20px 0px;
}
.location_part h4{
    font-size: 18px;
    font-weight: bold;
}
.location_part input {
    margin: 20px auto;
    height: 30px;
    display: list-item;
    width: 100%;
    border: 1px solid #575757;
    outline: none;
}
.location_part textarea {
    margin: 10px auto;
    display: list-item;
    width: 100%;
    height: 90px;
    border: 1px solid #575757;
    outline: none;
    padding-left: 8px;
}
.location_part input[type="text"] {
    padding-left: 8px;
}
.location_part button {
    margin-top: 10px;
    width: 120px;
    height: 30px;
    background: none;
    border: 1px solid #575757;
    float: right;
    color: #575757;
}
footer{
    background: #ec2027;
    padding: 30px 0px;
}
.foot_logo{
    text-align: center;
}
.foot_logo img{
    max-width: 100%;
}
.social{
    color: #fff;
    margin-top: 25px;
}
.social ul{
    text-align: left;
}
.social ul li{
    color: #fff;
    display: inline-block;
    padding: 0px 7px;
    font-size: 16px
}
.social ul li span{
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 25px;
    background: #fff;
    line-height: 25px;
    color: #ec2027;
    border: 1px solid #fff;
}
.social ul li span i{
    
}
.social ul li span:hover{
    border: 1px solid #fff;
    display: block;
    background: none;
    color: #fff;
}
.social ul li span i:hover{
    
}
.social ul li a{
    color: #fff;
}
.foot_adrs{
    color: #fff;
}
.foot_adrs p{
    text-transform: capitalize;
}
.foot_adrs h5{
    font-weight: 600;
    font-size: 16px
}
.foot_adrs i{
    font-size: 20px;
    padding: 5px;
}
.foot_adrs a{
    color: #fff;
    padding: 5px;
}
.foot_adrs a:hover{
    text-decoration: none;
}
.foot_nav{
    color: #fff;
    margin-left: 25px;
}
.foot_nav h5{
    font-weight: 600;
}
.foot_nav ul{
    padding: 0;
}
.foot_nav ul li{
    list-style: none;
    padding: 3px 0px;
}
.foot_nav ul li a{
    color: #fff;
}
.foot_nav ul li a:hover{
    text-decoration: none;
    font-weight: 600;
}
.copy{
    font-size: 12px;
}
.copy p{
    float: left;
    line-height: 4;
    margin: 0;
}
.copy .powr{
    float: right;
}
/*NAV TOGGLE*/

.nav_trigger {
    display: none;
    font-size: 23px;
    color: #ec2027;
    border: 1px solid #ec2027;
    text-align: center;
    width: 40px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 50px;
    border-radius: 3px;
    -o-transition: all 0.2s easer-out;
    -moz-transition: all 0.2s easer-out;
    -webkit-transition: all 0.2s easer-out;
    transition: all 0.2s easer-out;
    z-index: 5000;
    background: #fcfcfc;
}

.nav_trigger:hover {
    background-color: #ec2027;
    color: #FFF;
}
.what_we_mob{
    display: none;
}
/*CONTACT PAGE*/
.contact_us_pg{
    padding: 20px 0px;
    background: #fff;
}
.cont_head{
    background: url(../images/blk_row.jpg) no-repeat center; 
    text-align: center;
}
.cont_head h3{
    display: inline-block;
    background: #fff;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding: 0px 8px;
}
.message_form{
    background: #ec2027;
    padding: 20px 25px;
    margin: 20px 0px;
}
.message_form input {
    margin: 20px auto;
    height: 30px;
    display: list-item;
    width: 100%;
    outline: none;
    border: none;
}
.message_form textarea {
    margin: 10px auto;
    display: list-item;
    width: 100%;
    height: 90px;
    /*border: 1px solid #575757;*/
    outline: none;
    padding-left: 8px;
    border: none;
}
.message_form input[type="text"] {
    padding-left: 8px;
}
.send_button{
    text-align: right;
}
.message_form button {
    margin-top: 10px;
    width: 120px;
    height: 30px;
    background: #fff;
    color: #575757;
    outline: none;
    border: none;
}
.message_form button:hover{
    border: 1px solid #575757;
    color: #ec2027;
}
.contact_addrs{
    text-align: center;
    border: 1px solid #575757;
    padding: 56px 25px;
    margin: 20px 0px;
}
.contact_addrs img{
    max-width: 100%;
}
.contact_addrs p{
    padding: 15px 0px;
    text-transform: capitalize;
}
.contact_addrs a,
.contact_addrs a i{
    color: #000;
    font-size: 18px;
    margin-top: 15px;
}
.contact_addrs a:hover{
    text-decoration: none;
    color: #ec2027;
}
.con_wht_dwn{
    background: url(../images/whit_con_dwn.png) no-repeat center; 
    height: 84px;
    width: 100%;
    position: absolute;
    z-index: 9999999;
}
.map_warp{
    background: #ebebeb;
}
.map_warp{
    padding: 25px 0px;
    padding-top: 120px;
}
/*WHAT WE DO*/
.what_we_do_pg{    
    padding: 20px 0px;
    padding-bottom: 0px;
    background: #fff;
}
.what_we_do_pg p{
    padding: 20px;
    text-align: center;
}
.we_do_head{
    background: url(../images/blk_row.jpg) no-repeat center; 
    text-align: center;
}
.we_do_head h3{
    display: inline-block;
    background: #fff;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding: 0px 8px;
}
.what_we_do_cycle{
    background: url(../images/what_we_bg.jpg) no-repeat center; 
    width: 100%;
    height:750px;
    padding: 35px 0px;
    position: relative;
}
.what_we_do_what_row{
    margin: 0 auto;
}
.what_we_do_row{
    position: absolute  !importent;
    margin-top: -65px  !importent;
    left: 50% !importent;
    margin-left: -247px !importent;
}
/*WHO WE ARE*/
.who_we_are_pg{
    background: #ec2027;
    padding: 30px 0px;
    padding-top: 60px;
}
.who_head{
    text-align: center;
    background: url(../images/row_wh.png) no-repeat center; 
}
.who_head h3{
    display: inline-block;
    background: #ec2027;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    color: #fff;
    padding: 0px 8px;
}
.who_we_are_pg p{
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
.red_con_dwn{
    background: url(../images/red_con_dwn.png) no-repeat center; 
    height: 84px;
    width: 100%;
    position: absolute;
    margin-top:-5px;
}
.who_we_part{
    background: url(../images/who_we_bg.png) no-repeat top; 
    background-size: cover;
}
/*BRAIN CLUB*/
.brain_intro{
    background: url(../images/Brain_bg_1.jpg) no-repeat top; 
    background-size: cover;
}
.brain_logo{
    text-align: center;
}
.brain_logo img{
    max-width: 100%;
}
.brain_intro_box{
    width: 35%;
    float: right;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #000;
    padding: 20px 25px;
    text-align: center;
    margin-top: 15px;
}
.brain_intro_box h4{
    font-size: 22px;
    font-weight: 600;
    color: #ec2027;
}
.brain_intro_box h6{
    font-size: 14px;
    font-weight: 600;
}
.brain_intro_box p{
    text-align: justify;
    margin-top: 15px;
}
.brain_intro_list{
    width: 70%;
    background-color: rgba(255, 255, 255, 0.9);
    float: right;
    padding: 40px 35px;
    margin: 20px 0px;
}
.brain_intro_list ul{
    margin: 0;
}
.brain_intro_list ul li{
    list-style: none;
}
.brain_intro_list ul li i{
    padding: 0px 15px;
}
.section_2{
    background: url(../images/brain_bg_3.jpg) no-repeat center; 
    padding: 20px 0px;
}
.discription_bx{
    background-color: rgba(229, 30, 37, 0.8);
    margin-top: 340px;
    padding: 20px 30px;
    width: 70%;
    color: #fff;
}
.apply_form{
    background: #fff;
}
.apply_head h3{
    font-size: 22px;
    color: #ec2027;
    background: #fff;
    padding: 0px 10px;
    display: inline-block;
    margin: 10px;
}
.apply_head{
    text-align: center;
    background: url(../images/row_rd.png) no-repeat center; 
}
.form_filed{
    width: 50%;
    margin: 0 auto;
   /* background: #ec2027;*/
    padding: 25px 0px;
    display:flex;
    padding-top: 10px;
}
.form_filed input {
    margin: 10px auto;
    height: 35px;
    display: list-item;
    width: 48%;
    border: 1px solid #ccc;
    outline: none;
    float: left;
}
.form_filed textarea {
    margin: 10px auto;
    display: list-item;
    width: 98%;
    height: 90px;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 8px;
    margin-right: 1px;
}
.form_filed input[type="text"] {
    padding-left: 8px;
    margin-left: 10px;
}
.form_filed button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 120px;
    height: 30px;
    background: #fff;
    border: 1px solid #ccc;
    color: #575757;
}
.form_filed button:hover{
    background: #575757;
    border: 1px solid #575757;
    color: #fff;
}
.how_head{
    text-align: center;
}
.how_head h3{
    padding: 0px 10px;
    padding-bottom: 8px;
    color: #ec2027;
    display: inline-block;
    margin: 20px 0px;
    border-bottom: 2px solid #ec2027;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
}
.what_we_list{
    background: #fff;
}
.what_bx{
    background: #FCF8E3;
    padding: 10px 30px;
    width: 70%;
    float: left;
}
.what_bx p{
    font-size: 13px;
    text-align: justify;
}
.bx_right{
    float: right;
    background: #f5f5f5;
    padding: 10px 30px;
}
.what_bx h4{
    color: #ec2027;
    font-size: 18px;
    font-weight: 600;
}
.director_board{
    padding: 55px 0px;
    padding-top: 90px;
}
.director_board h3{
    text-align: center;
    padding: 5px 15px;
    border-bottom: 1px solid #575757;
    color: #ec2027;
}
.dir_box{
    text-align: center;
    padding: 0px 10px;
    width: 220px;
    height: 328px;
    max-width: 100%;
}
.dir_bx_row_2{
    margin: 0 auto;
    display: table;
}
.dir_bx_row_2 .dir_box{
    float: left;   
}
.dir_box img{
    max-width: 100%;
}
.dir_box h5{
    font-weight: 600;
    font-size: 16px;
    margin: 5px 0px;
}
.main_nav > ul > .active a{
        color: #575757;
}
@media only screen and (min-device-width: 992px) and (max-device-width: 1199px) {
    .form_filed{
    width: 80%;
    margin: 0 auto;
   /* background: #ec2027;*/
    padding: 25px 0px;
    display:flex;
    padding-top: 10px;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .logo{
        float: none;
        text-align: center;
    }
    .main_nav ul li {
        padding: 0px 21px;
        margin-top: 45px;
    }
    .social ul{
        padding: 0;
    }
    .social ul li{
        padding: 0px 6px;    
    }
    .what_row{
        margin: 0 auto;
    }
    .what_pol_wrap .what_row:last-child {
        left: 50%;
        margin-left: -247px;
    }
    .welcome_part{
        padding: 0;
        padding-bottom: 30px;
    }
    .brain_intro_box{
        width: 50%;
    }
    .form_filed{
    width: 80%;
    margin: 0 auto;
   /* background: #ec2027;*/
    padding: 25px 0px;
    display:flex;
    padding-top: 10px;
}
    .dir_box{
    text-align: center;
    padding: 0px 10px;
    width: 180px;
    height: 328px;
    max-width: 100%;
}
.dir_bx_row_2{
    margin: 0 auto;
    display: table;
}

}

@media only screen and (max-width:767px) {
    .what_row{
        margin: 0 auto;
    }
    .what_pol_wrap .what_row:last-child {
        left: 50%;
        margin-left: -247px;
    }
  .nav_trigger {
        display: inline-block;
    }
        .main_nav {
        display: none;
        float: none;
        background: #fcfcfc;
        margin-top: 128px;
        padding: 5px;
        margin-bottom: 0px;
    }
    .main_nav > ul > li {
        display: list-item;
        list-style: none;
        text-align: center;
        margin: 10px 0px;
    }
    .main_nav > ul > li > a {
        display: block;
        padding: 5px 0px;
    }
    header{
        padding-bottom: 10px;
    }
    .social ul{
        text-align: center;
        padding: 0;
    }
    .foot_adrs{
        text-align: center;
        padding: 15px 0px;
    }
    .foot_nav{
        text-align: center;
    }
    .welcome_part{
        padding: 0;
        padding-bottom: 30px;
    }
    .foot_nav{
        margin: 0;
    }
    .brain_intro_box{
        width: 90%;
        float: none;
        margin: 15px auto;
    }
    .form_filed{
    width: 100%;
    margin: 0 auto;
   /* background: #ec2027;*/
    padding: 25px 0px;
    display:flex;
    padding-top: 10px;
}
.form_filed input {
    margin: 10px auto;
    height: 35px;
    display: list-item;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    float: left;
}
.form_filed textarea {
    margin: 10px auto;
    display: list-item;
    width: 100%;
    height: 90px;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 8px;
}
    .form_filed input[type="text"] {
    padding-left: 8px;
    margin-left: 0px;
}
        .dir_box{
    text-align: center;
    padding: 0px 10px;
    width: 245px;
    height: 356px;
    max-width: 100%;
}
.dir_bx_row_2{
    margin: 0 auto;
    display: table;
}
    .active {
        background: #ec2027;
    }
    .main_nav > ul > .active a{
        color: #fff;
    }
    @media only screen and (max-width:540px){
        
    .form_filed{
    width: 100%;
    margin: 0 auto;
   /* background: #ec2027;*/
    padding: 25px 0px;
    display:flex;
    padding-top: 10px;
}
.form_filed input {
    margin: 10px auto;
    height: 35px;
    display: list-item;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    float: left;
}
.form_filed textarea {
    margin: 10px auto;
    display: list-item;
    width: 100%;
    height: 90px;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 8px;
}
.form_filed input[type="text"] {
    padding-left: 8px;
    margin-left: 0px;
}
}
@media only screen and (max-width:520px){
    .what_seperator2,
    .what_seperator3,
    .what_seperator4,
    .what_seperator5,
    .what_seperator6,
    .what_seperator7 {
        display: none;
    }
    .what_row {
        max-width: 100%;
    }
    .what_polygon_wrap {
        display: block;
        max-width: 180px;
        margin: 10px auto;
    }
    .what_pol_wrap_1,
    .what_pol_wrap_2 {
        float: none;
    }
    .what_pol_wrap {
        position: static;
    }
    .what_pol_wrap .what_row:first-child {
        margin: 0px;
    }
    .what_pol_wrap .what_row:last-child {
        margin: 0px;
        position: static;
    }
    .what_pol_wrap .what_row:nth-child(2) {
        margin: 0px;
    }
    .what_pol_wrap {
        margin-top: 0px;
    }
    .what_we_comp{
        display: none;
    }
    .what_we_mob{
        display: block;
    }
    .person_box{
        width: 100%;
    }
    p.test_text{
        width: 100%;
        margin-top: 8px;
        padding: 8px 15px;
    }
    .copy p{
        float: none;
        text-align: center;
        padding-bottom: 0;
    }.brain_intro
    .copy .powr{
        float: none;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 8px;
    }
    .welcome_part{
        padding: 0;
        padding-bottom: 30px;
    }
    .what_we_do_cycle{
        background-size: cover;
        width: 100%;
        height:1100px;
        padding: 35px 0px;
        position: relative;
    }
    .copy .powr {
    float: none;
        text-align: center;
    }
    .what_bx{
    padding: 15px 0px;
    width: 100%;
    float: left;
}
  .dir_box{
    text-align: center;
    padding: 0px 10px;
    width: 100%;
    height: auto;
    max-width: 100%;
}
.dir_bx_row_2{
    margin: 0 auto;
    display: table;
    padding:0% 15%;
    
}
.copy p{
    line-height: normal;
}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 519px) {
    .welcome_part{
        padding: 0;
        padding-bottom: 30px;
    }
}
@media only screen and (max-device-width: 519px){
        .brain_intro_list{
        width: 100%;
    }
    .brain_intro_list ul{
        padding: 0;
    }
    .discription_bx{
        width: 100%;
        margin-top: 60px;
    }
    .what_polygons:after{
        right: -44px;
    }
    .what_polygons:before{
        left: -44px;
    }
}
















